<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Report_Lists</title>

	 <link rel="stylesheet" href="/static/css/Report_Lists.css">


</head>

<body>
	<div id="header">
		<img src="/static/img/XU_header.png" alt="XU_Header">
		<button class="log_outbtn" onclick="location.href='/'">Log out</button>
	</div> 

    <div class="header">
        <h1>Report Lists</h1>
        <p>Quality Management Office</p>
    </div>


	<div id="Primary_reports">
    	<button class="report_btn" data-key="leadership">Leadership and Governance</button>
   		<button class="report_btn" data-key="qa">Quality Assurance</button>
    	<button class="report_btn" data-key="resource">Resource Management</button>
    	<button class="report_btn" data-key="teaching">Teachings and Learnings</button>
    	<button class="report_btn" data-key="student">Student Service</button>
    	<button class="report_btn" data-key="external">External Relations</button>
    	<button class="report_btn" data-key="research">Research</button>
    	<button class="report_btn" data-key="results">Results</button>
	</div>

	<div id="Secondary_reports">
    	<button class="ndreport_btn" data-key="appendices">Appendices</button>
    	<button class="ndreport_btn" data-key="materials">Other Materials</button>
    	<button class="ndreport_btn" data-key="additional">Additional Documents + Requested</button>
    	<button class="ndreport_btn" data-key="others">Other Documents</button>
	</div>

<!-- at the bottom of body -->
	<script>const PROGRAM_ID = "{{ program_id }}";</script>
	<script src="/static/js/Report_lists.js"></script>	
</body>
</html>